
<div class="leftcont">
   <div class="lefthead">
<div class="profilepic"></div>
<div class="cached">
   <mat-icon>cached</mat-icon>
</div>  
<div class="chat">
   <mat-icon >chat</mat-icon>
</div>
<div class="dots clickable" (click)="this.isMenuOpen = !this.isMenuOpen" >
   <mat-icon >more_vert</mat-icon>
   <div class="task" *ngIf = "isMenuOpen" >
      New group
      <br>
     
      Profile
      <br>
      
      Catalog
      <br>
      Starred message
      <br>
      Lables
      <br>
      Setting
      <br>
      Log out
   </div>
</div>     
</div>
   <div class="noti">
      <div class="add_alert">
         <div class="alert">
            <mat-icon>notifications_off</mat-icon>
         </div>
      </div>
      <div  class="notification">
         <h4 class="h">Get notified of new messages</h4>
         <p class="p"> Turn on desktop notifications ></p>
      </div>
   </div>
   <div class="searchbar">
      <div class="sbar">
         <div class="sicon">
            <mat-icon>search</mat-icon>
         </div>
         <input type="text" class="input"  placeholder="Search or start new chat">
      </div>
   </div>
   <div class="myprofile">
      <div class="profilepic"></div>
   </div>
   <div class="myprofile">
      <div class="profilepic"></div>
   </div>
   <div class="myprofile">
      <div class="profilepic"></div>
   </div>
   <div class="myprofile">
      <div class="profilepic"></div>
   </div>
   <div class="myprofile">
      <div class="profilepic"></div>
   </div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Shivam</div>
   </div>
</div>
