.leftcont{
    display: flex;
    height: 728px;
    flex-direction: column;
   
}
.lefthead{
    display: flex ;
    height: 14%;
   background-color: #ededed;
   border-right: 1px solid lightgray;
}
.flex{
    flex:0.9;
}
.noti{
    display: flex ;
    width: 100%;
    height: 16%;
    background-color: #9de1fe;
}
.myprofile{
    position: relative;
    display: flex ;
    height: 14%;
    cursor: pointer;
    overflow: auto;

}
.myprofile2{
    position: relative;
    display: flex ;
    height: 14%;
    cursor: pointer;
   
}
.myprofile2:hover{
    background-color: #f2f2f2;
}
.myprofile:hover{
    background-color: #f2f2f2;
}
.custpro{
    display: flex ;
    width: 300px;
    height: 70px;
  
}
.profilepic{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-top: 11px;
    margin-left:11px;
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/logo.png");
}
.profilepic1{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-top: 11px;
    margin-left:11px;
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/newgroup2.png");
}
.searchbar{
    display: flex ;
    height: 50px;
    background-color: #ededed;
    flex-direction: column;
}
.input{
    position: relative;
    height: 27px;
    display: flex;
    margin: 2px 0px 0px 23px;
    border: none;
    background-color: #fff;
    font: inherit;
    font-size: .9rem;
    
}

.input:focus {
    outline: none;

}


.sbar{
    width: 95%;
    height: 33px;
    margin-top: 7px;
    display: flex;
    margin-left: 11px;
    border-radius: 50PX;
    background-color: #fff;
}
.sicon{
    margin-left: 15px;
    margin-top: 4px;
    display: flex;
    color: #51585c;
}
.cached{
    display: flex;
    align-items: center;
    color: #51585c;
}
.chat{
    display: flex;
    margin-left: 25px;
    align-items: center;
    color: #51585c;
}
.size{
    font-size: 26px;
    color: #51585c;
}
.dots{
    display: flex;
    margin-left: 25px;
    align-items: center;
    color: #51585c;

}
button{
    border: none;
}
.alert{
    margin-left: 6px;
    margin-bottom: 10px;
    color: #9de1fe;
    display: flex;
    align-items: center;
}
.add_alert{
    flex: none;
    background-color: #fff;
    display: flex;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 17px
}
.notification{
    position: relative;
    margin-left: 15px;
    margin-top: 11px;
    color: #303030f5;
}
.p{
    margin-top: 4px;
    font:inherit;
    vertical-align: initial;
    color: #303030d9;
    cursor: pointer;
}
.h{
font: inherit;
color:#303030F5;
font-size: 1.2rem;
vertical-align: initial;
cursor: pointer;
}
.new_chat{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: 100%;
    transform-origin: right top;
    transform: scale(1);
    left: 0px;
    top: 0px;
    overflow: visible;
    z-index: 9993;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    
}
.newchat{
    width: 100%;
    height: 120px;
    background-color: #00bfa5;
    display: flex;
    
}
.left-mat-menu{
    padding-left: 8px;
    padding-right: 48px;
}


.clickable {
    cursor: pointer;
}
.pic{
    position: absolute;
    width: 147px;
    height: 138px;
    transform-origin: right top;
    transform: scale(1);
    right: 595px;
    top: 31px;
    overflow: visible;
    z-index: 9993;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
}
.picture{
    position: absolute;
    border-radius: 50px;
    margin-top: -1px;
    margin-left:-1px;
    width: 50px;
    height: 50px;
}
.name{
    flex: 0.9;
    display: flex;
    padding: 17px;
}
.name1{
    flex: 1;
    display: flex;
    padding-top: 25px;
    padding-left: 15px;
    color: #000000;
    font-size: 17px;
}
.name3{
    flex: 1;
    display: flex;
    padding-top: 25px;
    padding-left: 7%;
    color: #009688;
    font-size: 17px;
}
.name2{
    font: inherit;
    display: flex;
    flex: 1.4;
    color: white;
    font-size: 20px;
    margin-top: 17%;
}
.arrow_name{
    display: flex;
    flex: 0.2;
    margin-top: 18%;
    margin-left: 19px;
}
.time{
    display: flex;
    margin-top: 15px;
    font-size: 13px;
    color: #00000073
}
.border{
    border-top: 1px solid #f2f2f2;
}
.user-profile-list{
    height: 100%;
    overflow: auto;
    
}
.user-profile-list1{
    height: 77%;
    overflow: auto;
    
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#fff;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:lightgray; 
  }
  
.arrow{
    display: flex;
    flex: 0.1;
}
.Profile_sec{
    display: flex;
    height: 196px;
    background-color: #eaf2f5;
}
.profile_details{
    position: relative;
    display: flex ;
    height: 35%;
    cursor: pointer;
}
.contact{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-top: 15%;
    margin-left:8%;
    width: 26px;
    height: 26px;
    background-image: url("../../../assets/capture2.PNG");
}
.contact_name{
    flex: 1;
    display: flex;
    color: #000000;
    font-size: 17px;
    margin-top: 15%;
    margin-left: 6%;
}
.bussiness_d{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-left:8%;
    width: 26px;
    height: 35px;
    background-image: url("../../../assets/capture3.PNG");
}
.qwe{
    position: relative;
    display: flex ;
    height: 14%;  
}
.about_profile{
    margin-top: 26%;
    line-height: 1.4;
    font-size: 0.75rem;
    margin-left: 18%;
    display: flex;
    flex: none;
    position: absolute;
    margin-right: 12.6%;
    color: #999;
}

.busse_name{
    flex: 1;
    display: flex;
    color: #999;
    font-size: 17px;
    margin-left: 6%;
    margin-top: 10px;
}
.b_image{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-right: 5%;
    width: 30px;
    height: 33px;
    margin-top: 7px;
}
.website{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-left:8%;
    margin-top: 5px;
    width: 26px;
    height: 35px;
    background-image: url("../../../assets/Capture9.PNG");  
}
.email{flex: none;
display: flex;
border-radius: 50px;
margin-left:7%;
margin-top: 5px;
width: 32px;
height: 35px;
background-image: url("../../../assets/Capture8.PNG");
}
.email_name{
    flex: 1;
    display: flex;
    color: #999;
    font-size: 17px;
    margin-left: 5%;
    margin-top: 10px;
}
.bussiness_h{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-left:7%;
    margin-top: 5px;
    width: 29px;
    height: 35px;
    background-image: url("../../../assets/Capture7.PNG");  
}
.bussiness_a{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-left:7%;
    margin-top: 5px;
    width: 29px;
    height: 35px;
    background-image: url("../../../assets/Capture6.PNG");  
}
.bussiness_n{
    flex: none;
    display: flex;
    border-radius: 50px;
    margin-left:7%;
    margin-top: 5px;
    width: 29px;
    height: 35px;
    background-image: url("../../../assets/Capture5.PNG");
}
.my_profile{
display: flex;
flex: none;
    border: 6px solid #fff;
    width: 165px;
    height: 165px;
    border-radius: 100px;
    margin-left: 28%;
    margin-top: 18%;
    
}
.p_image{
    opacity: 1;
    margin-top: 1px;
    margin-left: 1px;
    border-radius: 75px;
    margin-top: -1px;
    display: flex;
    flex: none;
    width: 150px;
    height: 150px;  
}
:hover.p_image{
    opacity: 0.5;
    
}
