<div class="leftcont">
   <div class="lefthead">
      <div class="flex">

      <div class="profilepic clickable" (click)="this.ispicOpen = !this.ispicOpen">
         <div>
            <img src="assets/image.jfif" class="picture">
         </div>
      </div>

         <div> <img src="assets/image.jfif" alt="error" class="pic" *ngIf="ispicOpen"></div>
      </div>
      <div style="display: flex; flex: none;">
      <div class="cached">
         <mat-icon style="cursor: pointer;" class="size">cached</mat-icon>
      </div>
      <div class="chat">
         <mat-icon style="cursor: pointer;" class="size">chat</mat-icon>
      
      </div>
      <div class="dots clickable">

         <button mat-icon-button [matMenuTriggerFor]="menu" class="button">
            <mat-icon style="cursor: pointer;" class="size">more_vert</mat-icon>
         </button>

         <mat-menu #menu="matMenu">
            <button mat-menu-item>New chat</button>
            <button mat-menu-item>Contact</button>
            <button mat-menu-item>Contact</button>
            <button mat-menu-item>Contact</button>
            <button mat-menu-item>Contact</button>
            <button mat-menu-item>Contact</button>
         </mat-menu>

         <!-- <div class="task" *ngIf = "isMenuOpen" >
      New group
      <br>
     
      Profile
      <br>
      
      Catalog
      <br>
      Starred message
      <br>
      Lables
      <br>
      Setting
      <br>
      Log out
   </div> -->
      </div>
   </div>
   </div>
   <div class="noti">
      <div class="add_alert">
         <div class="alert">
            <mat-icon style="cursor: pointer; font-size: 35px;" >notifications_off</mat-icon>
         </div>
      </div>
      <div class="notification">
         <h2 class="h">Get notified of new messages</h2>
         <p class="p"> Turn on desktop notifications ></p>
      </div>
   </div>
   <div class="">
   <div class="searchbar">
      <div class="sbar">
         <div class="sicon">
            <mat-icon style="cursor: pointer;">search</mat-icon>
         </div>
         <input type="text" class="input" placeholder="Search or start new chat">
      </div>
   </div>
</div>
   <div class = "user-profile-list">

   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Angular</div>
      <div class="time">05:55</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Angular</div>
      <div class="time">12:55</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Angular</div>
      <div class="time">01:55</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Angular</div>
      <div class="time">Yesterday</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">jason</div>
      <div class="time">Friday</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Shivam</div>
      <div class="time">Monday</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Shivam</div>
      <div class="time">1/1/2022</div>
   </div>
   <div class="border"></div>
   <div class="myprofile">
      <div class="profilepic"></div>
      <div class="name">Shivam</div>
      <div class="time">09/01/2022</div>
   </div>
   
</div>

</div>