.rightside{
    position: relative;
    width: 100%;
    height: 728px;
    flex-direction: column; 
}
.righthead{
    display: flex ;
    width: 100%;
    height: 73px;
   background-color: #ededed;
}
.flex{
    flex: 1;
}
.flex_1{
    display: flex;
    flex: 1;
}
.name{
    display: flex;
    align-items: center;
    flex: 12;
}
.profilepic{
    display: flex;
    border-radius: 50px;
    margin-top: 10px;
    margin-left:11px;
    width: 50px;
    height: 50px;
    background-image: url("../../../assets/logo.png");
}
.sicon{
    align-items: center;
    display: flex;
    color: #51585c;
}
.dot{
    display: flex;
    margin-left: 10px;
    align-items: center;
    color: #51585c;
}
.chatbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 81.8%;
   background-image:url("../../../assets/wsbg.png.png");
}
.info_1{
    margin-top: 30px;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info{
    padding: 7.5px;
    text-align: center;
    font-size: small;
    background-color: #fff5c4f2;
    color: #000000f5;
    border-radius: 7px;
}
.messtype{
    display: flex ;
    width: 100%;
    height: 60px;
   background-color: #ededed; 
}
.flex_2{
    display: flex;
    flex: 0.9;
}
.input{
    position: relative;
    width: 86%;
    height: 35px;
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    font: inherit;
    font-size: .9rem;
    border:none;
    border-radius: 5px;
}
.input:focus {
    outline: none;
}
.smile{
    margin: 13px 0px 0px 13px;
    display: flex;
    color: #51585c;
}
.attach{
    padding: 13px;
    display: flex;
    color: #51585c;
}
.voice{
    flex: none;
    padding: 9px;
    display: flex;
    color: #51585c;
}
.dots{
    display: flex;
    margin-left: 30px;
    margin-top: 12px;
    color: #51585c;
}
.icon{
    font-size: 26px;
}
.tasks{
    position: absolute;
    width: 147px;
    height: 138px;
    transform-origin: right top;
    transform: scale(1);
    right: 14px;
    top: 33px;
    overflow: visible;
    z-index: 9993;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
}
.clickable {
    cursor: pointer;
}
.pa{
    margin: 3px;
    padding: 3px;
    color: white;
    background-color: green;
}
.image{
    width: 100%;
    height: 100%;
}
